@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&display=swap');
.copy {
    background-color: black;
    align-items: center;
    text-align: center;
    font-size: 14px;
} 

