@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}
*::selection {
    background-color: rgb(211, 211, 109);
    color: black;
}

body {
    background-image: url("/assets/Bu2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


h1 {
    color: white;
}

h3{
    color: white;
}

h5{
    color: white;
}


.hr {
    color: white;
    }

    
.container {
    min-height: calc(100vh - 50px - 50px);
}
    
.container-fluid{
    max-width: 992px;
}

.iconoss {
    color: white;

}


.fa-cc-mastercard {
    color: white;
    &:hover {
        background-color: aqua;
    }
}

.fa-cc-visa {
    @extend .fa-cc-mastercard
}

@mixin tamano ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

.foto {
    @include tamano (150px, 150px)
}